body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgrey; /* UH's primary color */
  }
  
 /* Header Styles */
header {
    background-color: #C8102E;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo img {
    height: 80px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: large;
    color: white;
    transition: color 0.3s; /* Smooth color transition on hover */
}

nav ul li a:hover {
    color: black; /* Text color on hover */
}
main {
  padding: 20px;
}

.owner-about {
  display: flex;
  align-items: center;
}

.image-owner {
  max-width: 730px;
  max-height: 730px;
  display: block;
  margin-right: 20px;
}

.owner-info {
  padding-left: 20px; /* Add some spacing between image and info */
  flex: 1; /* Allow the owner-info to take up remaining space */
  margin-left: 20px;
}

.owner-info h1 {
  color: #C8102E;
  font-size: 60px;
  
}

.owner-info p{
  font-size: larger;
  max-width: 50%;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

  
  /* Footer Styles */
footer {
    
    background-color: #C8102E; /* Updated background color */
    color: white;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img {
    flex:1;
    height: 10px; /* Adjust logo size */
    margin-right: 10px;
}

.footer-links a {
    flex:1;
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-size:large;
    padding:0%;
}
.footer-info {
    text-align: right;
}

.footer-info p {
    font-size: 20px; 
}